@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Open Sans";
  src: url("/public/font/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open_Sans";
  src: url("/public/font/OpenSans-Regular.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0 0;
  background: white;

  /* background: linear-gradient(to bottom, #040614 50%, #0f2147 50%); */
  font-family: "Ah Moharram Bold", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.custom-shadow {
  box-shadow: 0px 0px 50px rgba(58, 59, 59, 0.8);
}
.darkBg {
  background: #091630;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 229px !important;
}

.swiper-button-prev {
  background: linear-gradient(180deg, #084398 20%, #00befd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}
.swiper-button-next {
  background: linear-gradient(180deg, #00befd 20%, #084398 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

.swiper-pagination {
  position: absolute !important;
}
.swiper-pagination-bullet {
  border: 4px solid #fff !important;

  padding: 6px !important;
}

.swiper-pagination-bullet-active {
  /* background-color: blue !important; */
  box-shadow: 0px 0px 0px 1.8px #5f739f;

  background: linear-gradient(90deg, #084398 0%, #00befd 100%) !important;
}

.swiper-wrapper {
  /* width: 400px !important;
  overflow: hidden; */
}

.image-mask {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}
.button-bg {
  background-color: #050a18b6 !important;
  border-radius: 7px !important;
}
.button-bg::before {
  border-radius: inherit !important;
  border-radius: 7px !important;
}
div[data-radix-popper-content-wrapper=""] {
  /* position: relative !important; */
  /* width: 100%; */
  z-index: 1000000000000000000 !important;
}
.title :hover {
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
}

.grid-account {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}
.accounts-types-container:hover {
  z-index: 100;
  transform: scale(0.97);
  box-shadow: 0 0 20px 14px #a63333;
}

.img-soial {
  width: 90%;
  height: 100%;
  border-radius: 6px;
}
.card-border {
  background: linear-gradient(#0a1f44, #0a1f44) padding-box,
    linear-gradient(90deg, #00befd, #084398) border-box;
  color: white;
  border: 1.5px solid transparent;
}
.hover-effect {
  transition: transform 1s ease, opacity 0.8s ease; /* Smooth transition */
  opacity: 0.8; /* Optional: Set initial opacity */
}

.hover-effect:hover {
  transform: rotateY(360deg) scale(1.05) translateY(-0.5rem);
  opacity: 1;
}

.button-border {
  background: linear-gradient(#0a1f44, #0a1f44) padding-box,
    linear-gradient(90deg, #084398, #00befd) border-box;
  color: white;
  border: 1.2px solid transparent;
}
.button-border-footer {
  background: linear-gradient(90deg, #084398, #00befd);
  height: 1px;
  width: 100%;
}
.button-border-input {
  background: linear-gradient(#04061399, #04061399) padding-box,
    linear-gradient(90deg, #084398, #00befd) border-box;
  color: white;
  border: 1.2px solid transparent;
}
.button-border-transparent {
  position: relative;
  padding: 10px;
  border-radius: 5px;
}

.input-border {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #084398, #00befd) !important;
  padding: 1.2px;
  border-radius: 10px;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none !important;
  padding: 0 !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7::after {
  border: none !important;
}
.button-border-transparent::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.2px;
  border-radius: 50px;
  background: linear-gradient(90deg, #084398, #00befd);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.star {
  background-image: radial-gradient(
      circle at top right,
      rgba(0, 192, 255, 0.8),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 192, 255, 0.8),
      transparent 30%
    ),
    rgba(15, 33, 71, 1);
}
.curved-section {
  clip-path: ellipse(100% 100% at 50% 0%);
}
.curved-section-2 {
  clip-path: ellipse(100% 100% at 50% 120%);
}
.License.swiper-pagination-horizontal {
  top: 60px !important;
}
.mask-gradient {
  background: #121fcf;
  background: linear-gradient(180deg, #084398 0%, #00befd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* .Testimonials.swiper-pagination-bullets.swiper-pagination-horizontal{
  top: 10px   !important;
} */

.star {
  background-image: radial-gradient(
      circle at top right,
      rgba(0, 192, 255, 0.8),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 192, 255, 0.8),
      transparent 30%
    ),
    rgba(15, 33, 71, 1);
}
.curved-section {
  clip-path: ellipse(100% 100% at 50% 0%);
}
.curved-section-2 {
  clip-path: ellipse(100% 100% at 50% 120%);
}
.License .swiper-pagination-horizontal {
  top: 50px !important;
}
.mask-gradient {
  background: #121fcf;
  background: linear-gradient(180deg, #084398 0%, #00befd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Why.swiper-pagination-horizontal {
  top: 70px !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 8px;
}

.trend_clip {
  clip-path: ellipse(75% 50% at 50% 50%);
}
@media (max-width: 768px) {
  .trend_clip {
    clip-path: ellipse(155% 50% at 50% 50%) !important ;
  }
  .curved-section {
    clip-path: ellipse(150% 100% at 50% 0%);
  }
}
.tutorial .swiper-slide-active {
  position: relative;
  padding: 1px;
  border-radius: 12px;
  transform: scale(1); /* الكارت في المنتصف بالحجم الطبيعي */
}
.tutorial .swiper-slide-active .next-prev {
  display: none;
}
.tutorial .swiper-slide-active::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.2px;
  border-radius: 10px;
  background: linear-gradient(90deg, #084398, #00befd);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.tutorial .swiper-slide-next .next-prev {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 10000000000;
  top: 0;
}
.tutorial .swiper-slide-prev .next-prev {
  display: block;
  background: rgba(0, 0, 0, 0.4) !important;
  z-index: 10000000000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* transform: scale(10%); */
}
.tutorial .swiper-slide-next {
}

.tutorial .swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.85);
}
.react-datepicker-wrapper {
  width: 100% !important;
}

.curved-section-trend {
  clip-path: ellipse(100% 100% at 50% 4%);
}
.swiper-slide-next .testimonial-content  , .swiper-slide-prev .testimonial-content{
  position: relative;
}
.swiper-slide-next .location-content  , .swiper-slide-prev .location-content{
  position: relative;
}


.swiper-slide-next .testimonial-content::before , .swiper-slide-prev .testimonial-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #030613 21.27%, rgba(8, 20, 46, 0) 100%);
  z-index: 1000;
  pointer-events: none;
  border-radius: 12px;
}
